<ol *ngIf="contacts && contacts.length > 0 else addContactMessage;">
  <li *ngFor="let contact of contacts">
    <a [routerLink]="['/contact', contact.id]" r>{{ contact | name }}</a>
    <ul>
      <li *ngFor="let phone of contact.numbers">
        {{ phone.phoneNumber | phoneNumber }} - {{ phone.type | titlecase }}
      </li>
    </ul>
    <ul>
      <li> Added: {{ contact.createdAt |  date: 'medium' }}</li>
      <li> Updated: {{ contact.updatedAt |  date: 'medium' }}</li>
    </ul>
  </li>
</ol>
<ng-template #addContactMessage>
  <h4>{{ emptyMessage }}</h4>
</ng-template>
